<div class="container-fluid" style="background-color: gold!important;">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: gold!important;">
            <a class="navbar-brand" href="#">Infocrat</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse mx-auto" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">About Us</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Software
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                    <li><a class="dropdown-item" href="#">Accounting Inventory</a></li>
                    <li><a class="dropdown-item" href="#">Financial ERP</a></li>
                    <li><a class="dropdown-item" href="#">Textile ERP</a></li>
                    <li><a class="dropdown-item" href="#">Buying & Garments ERP</a></li>
                    <li><a class="dropdown-item" href="#">POS & Inventory</a></li>
                    <li><a class="dropdown-item" href="#">Hospital Management </a></li>
                    <li><a class="dropdown-item" href="#">Plastic & Packaging ERP</a></li>
                    <li><a class="dropdown-item" href="#">HR Payroll Management </a></li>
                    <li><a class="dropdown-item" href="#">Trading & Indenting</a></li>
                    <li><a class="dropdown-item" href="#">Super Shop  Management</a></li>

                  </ul>
                </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Protfolio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                  </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Get Started</button>
              </form>
            </div>
          </nav>
    </div>
</div>