<div class="card">
  <div class="card-header text-center ">
    <div class="h3">ABOUT US</div>
  </div>
</div>
<div class="row no-gutters">
  <div class="col-md-4 p-2">
    <div class="card">
        <div class="card-header text-center text-warning">
            <h4>Quick Overview</h4>
        </div>
    </div>
    <div class="card-body">
        <p>
            Infocrat Solutions Ltd. started its operation on June, 2007 as an information systems/software application development farm; by a passionate and dedicated team. We are the optimized team blend; composed with domain-experts, tech-experts, QC personnel developing generalized as well as customized software solutions for business & industrial operations.
        </p>
    </div>
  </div>

  <div class="col-md-4 p-2">
    <div class="card">
        <div class="card-header text-center text-warning">
            <h4>Technical Outline</h4>
        </div>
    </div>
    <div class="card-body">
        <p>
            Methodology: There is no short cut procedure/ technique that will ensure that in one fine morning a perfect software product will be delivered to customer!’ It’s required a subsequent recursion in order to develop a perfect software solution. More than twelve (12) years we are practicing Iterative & incremental development process and it’s a continuous process. Infocrat ensure the following strategies;
        </p>
    </div>
  </div>

  <div class="col-md-4 p-2">
    <div class="card">
        <div class="card-header text-center text-warning">
            <h4>Infocrat’s corporate policies</h4>
        </div>
    </div>
    <div class="card-body">
       <h6>Simplicity</h6>
       <p>Simplification is an art of positive phenomenon; we Infocrat are also in the race of simplifying our service beneficiaries life!</p>

       <h6>Quality</h6>
       <p>There is nothing to excuse except quality that deliver by engineering process!</p>
    </div>
  </div>

</div>
