<div class="card border-0">
    <div class="card-body">
        <div class="text-center my-4">
            <h1>FEW OF OUR SERVICE BENEFICIARIES</h1>
        </div>
        <div class="row">
            <div class="col-md-4">
                <ul>
                    <li>Al-Muslim Group</li>
                    <li>Akij Textile Mills Ltd.</li>
                    <li>Aps Group</li>
                    <li>Baly Group</li>
                    <li>  Everway Yarn Dyeing Ltd.</li>
                    <li> Golden Refit Garments Ltd.</li>
                </ul>
            </div>

            <div class="col-md-4">
                <ul>
                    <li>  H.R.M Sourcing Ltd.</li>
                    <li>Ispahani Islamia Eye Institute & Hospital</li>
                    <li>Mithela Textile Industries Ltd.</li>
                    <li>MWUK Ltd.</li>
                    <li>Paramount Textile Ltd.</li>
                    <li>Pioneer knitwear's (BD) Ltd.</li>
                </ul>
            </div>

            <div class="col-md-4">
                <ul>
                    <li>Posmi Sweaters Ltd.</li>
                    <li>Progress Motors Imports Ltd.</li>
                    <li>Rayontex Ltd.</li>
                    <li>Tuli Trading Ltd.</li>
                    <li>Wangs Textile Ltd.</li>
                    <li>and more...</li>
                </ul>
            </div>

        </div>
    </div>
</div>







