<div class="card">
  <div class="card-body">
    <div class="text-center my-5">
      CONTACT US
    </div>
    <div class="row">
      <div class="col-md-12 my-3">
        <iframe class="map-data"
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1535.1574676059229!2d90.36505354648753!3d23.774453495585096!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c0afe5d038f5%3A0xcb48f980676a73ee!2sRupayan%20Shelford%2C%20Plot%20No%20%23%2023%2F6%2C%20Block%20%23B%2C%20Mirpur%20Rd%2C%20Dhaka%201207!5e0!3m2!1sen!2sbd!4v1637168574621!5m2!1sen!2sbd"
          style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
      <div class="col-md-6">
        <div class="row my-2">
          <div class="col-4">LO</div>
          <div class="col-8">Location</div>
          <div class="col-4"></div>
          <div class="col-8"> Rupayan Shelford, Plot No # 23/6, Block #B, Mirpur Rd, Dhaka 1207</div>
        </div>
        <div class="row my-2">
          <div class="col-4">LO</div>
          <div class="col-8">Email</div>
          <div class="col-4"></div>
          <div class="col-8"> Rupayan Shelford, Plot No # 23/6, Block #B, Mirpur Rd, Dhaka 1207</div>
        </div>
        <div class="row my-2">
          <div class="col-4">LO</div>
          <div class="col-8">Contract</div>
          <div class="col-4"></div>
          <div class="col-8"> Rupayan Shelford, Plot No # 23/6, Block #B, Mirpur Rd, Dhaka 1207</div>
        </div>
        <div class="row my-2">
          <div class="col-4">LO</div>
          <div class="col-8">Imargency Contract</div>
          <div class="col-4"></div>
          <div class="col-8"> Rupayan Shelford, Plot No # 23/6, Block #B, Mirpur Rd, Dhaka 1207</div>
        </div>
      </div>
      <div class="col-md-6">
        <form>
          <div class="form-group">
            <label for="exampleFormControlInput1">Full Name</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Phone Number</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>

          <div class="form-group">
            <label for="exampleFormControlTextarea1">Message Query</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
        </form>
        <div class="card border-0">
          <div class="card-header bg-transparent">
            <button class="btn btn-success float-right">Send Message</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
