<div class="row my-4 no-gutters">
  <div class="col-md-4">
    <div class="card border-0">
      <div class="card-body">
        <h5><b> ESimSol HRM & Payroll</b></h5>
        <p><b> Tools & Technology : </b> C#, .Net, ASP, Java Script, MS SQL Server 2012</p>
        <p><b> Features & Functionality :</b> Sift wise Attendance Management,
          Leave Management, Holiday Management,
          Salary Scheme, Payroll, Disciplinary Action, Promotion, Transfer,
          Recruitment, Employee Role Management</p>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <img src="../../assets/imageone.jpg" class="card-img" alt="">
  </div>

  <div class="col-md-5">
    <div class="card">
      <img class="card-img" src="../../assets/texttile.png" alt="">
    </div>
  </div>

</div>


<div class="row my-4 no-gutters">

  <div class="col-md-5">
    <div class="card">
      <img class="card-img" src="../../assets/garments.png" alt="">
    </div>
  </div>

  <div class="col-md-3">
    <img src="../../assets/imagetwo.jpg" class="card-img" alt="">
  </div>


  <div class="col-md-4">
    <div class="card border-0">
      <div class="card-body">
        <h5><b> ESimSol HRM & Payroll</b></h5>
        <p><b> Tools & Technology : </b> C#, .Net, ASP, Java Script, MS SQL Server 2012</p>
        <p><b> Features & Functionality :</b> Sift wise Attendance Management,
          Leave Management, Holiday Management,
          Salary Scheme, Payroll, Disciplinary Action, Promotion, Transfer,
          Recruitment, Employee Role Management</p>
      </div>
    </div>
  </div>

</div>



<div class="row my-4 no-gutters">
  <div class="col-md-4">
    <div class="card border-0">
      <div class="card-body">
        <h5><b> ESimSol HRM & Payroll</b></h5>
        <p><b> Tools & Technology : </b> C#, .Net, ASP, Java Script, MS SQL Server 2012</p>
        <p><b> Features & Functionality :</b> Sift wise Attendance Management,
          Leave Management, Holiday Management,
          Salary Scheme, Payroll, Disciplinary Action, Promotion, Transfer,
          Recruitment, Employee Role Management</p>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <img class="card-img" src="../../assets/imagethree.jpg" alt="">
  </div>

  <div class="col-md-5">
    <div class="card">
      <img class="card-img" src="../../assets/hrm.png" alt="">
    </div>
  </div>

</div>


<div class="row my-4 no-gutters">

  <div class="col-md-5">
    <div class="card">
      <img class="card-img" src="../../assets/ERP.png" alt="">
    </div>
  </div>
  <div class="col-md-3">
    <img class="card-img" src="../../assets/imagefour.jpg" alt="">
  </div>


  <div class="col-md-4">
    <div class="card border-0">
      <div class="card-body">
        <h5><b> ESimSol HRM & Payroll</b></h5>
        <p><b> Tools & Technology : </b> C#, .Net, ASP, Java Script, MS SQL Server 2012</p>
        <p><b> Features & Functionality :</b> Sift wise Attendance Management,
          Leave Management, Holiday Management,
          Salary Scheme, Payroll, Disciplinary Action, Promotion, Transfer,
          Recruitment, Employee Role Management</p>
      </div>
    </div>
  </div>
</div>
